<!-- En-tête avec le logo -->
<header>
  <img src="chemin/vers/votre/logo.png" alt="Logo de l'application" />
</header>

<!-- Contenu de la page -->
<main>
  <h1>Bienvenue sur le Générateur de CV</h1>
  <p>Créez votre CV professionnel en quelques étapes faciles</p>

  <!-- Bouton "Créer un CV" centré -->
  <div class="create-cv-button-container">
    <button class="create-cv-button" (click)="redirectToFormPage()">Créer un CV</button>
  </div>
</main>

<!-- Footer -->
<footer>
  <p>Contactez-nous : email@example.com | Téléphone : 123-456-7890</p>
  <p>Adresse : 123, Rue du Générateur, 75000 Ville</p>
</footer>
